img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-shadow{
    text-shadow: 5px 5px 40px #000;
} 
iframe{
    border-radius: 8px;
}
.hero{
    margin-top: 85px !important;
}
.nav-link:hover{
    text-decoration: underline solid #ffffff;
}
.pricing-margin{
    margin: 0 3em 0 3em;
}
.our-team{
    font-size: 2.75em;
    padding-bottom: 1em;
}
.team-img{
    border-radius: 50%;
    width: 200px;
    height: auto;
    border: solid 2.5px #000;
    margin: 1em;
}
.col-lg-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-banner{
    height: 300px;
}
.bs-footer{
    width: 65px;
    height: auto;
}
.body-style{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-signin{
    width: 25em;
    max-width: 25em;
    padding: 0.25em;
    border: 1px solid #e2e2e2;
    background-color: #f8f8f8; 
    border-radius: 8px;
}
.home-login{
    padding-top: 0.5em;
}
#features svg{
    filter: invert(1) !important;
}
@media (max-width: 900px){
    .hero{
        margin-top: 130px !important;
    }
    .hero-2{
        padding-top: 50px;
    }
    .pricing-margin{
        margin: 0;
    }
    .hero-2{
        margin: 0;  
    }
    iframe{
        height: 300px;
        margin-top: 1em;
    }
    .col-sm-12{
        padding-left: 0.8em;
    }
    .padding-left-team{
        padding-left: 2em;
    }
    .container-footer{
        padding: 0 2em 0 2em;
    }
}